.OrderList{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85%;
    background: #bebebe;


}
.Error{
    color: red!important;
    text-align: center;
}
.attributes{
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
}
.details li     {
    border: 1px solid #111111;
}
.order-table {
    border-radius: 15px;
}

.order-table td{
    background-color: white;
    border: 1px darkgray solid;
    padding: 5px;
}
.order-table th {
    text-align: center;
    font-size: 18px;
}
.order-table td:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}