.OrderEditor{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
}
.order_redactor{
    width: 800px;
    background-color: #bebebe;
    padding: 20px;
}