.dishes {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding: 10px 0 10px 0;
    border: 1px gray solid;
    border-radius: 15px;
    height: auto;
}
.dish-img img {
    width: 120px;
    height: 120px;
}