.Success{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    font-family: 'Exo 2', sans-serif;
    background-image: url("https://wallpapersite.com/images/pages/pic_h/17011.jpg");
    background-size: cover;
    text-align: center;
}
.Success button{
    margin-top: 40px;
}
.success-block{
    width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin: 100px 0 100px 0;
}
