.AuthForm {
    background: #fff;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, .5);
    padding: 15px;
    border-radius: 5px;
    height: 300px;
    width: 600px !important;
    margin: 0 !important;
}

.signup {
    height: 550px;
}

.auth-buttons {
    display: flex;
    justify-content: space-around;
}

.auth-buttons a {
    color: #28a745;
    text-decoration: none;
}

.auth-buttons a:hover {
    color: #ffffff;
}

.invalid-Auth {
    display: none;
}

.show {
    display: block;
}

.Auth {
    display: flex;
    justify-content: center;
    padding-top: 140px;
    flex-grow: 1;
    width: 100%;
    background-image: url("../../images/background.jpg") !important;
    background-size: cover;
}

.Auth div {
    width: 100%;
    max-width: 600px;
    margin: 15px 0 10px 0;
}

.Auth h1 {
    color: #fff;
    text-align: center;
    font-family: 'Questrial', sans-serif;
}
